<div class="inside-container">
  <h3>Welcome to The Pong Yard!</h3>

  <hr>

  <p>The Pong Yard is a place to challenge your foes, advance your ego, and log all of your triumphs (and possibly your follys).</p>

  <hr>

  <h5>How to use The Pong Yard:</h5>

  <ol>
    <li>Add your name into the pool of players by following the link below</li>
    <li>Familarize yourself with the leaderboard by clicking the 'Leaderboard' tab on the top-right of screen.</li>
    <li>Click the Challenge tab to head to player selection.</li>
    <li>First click your name, (you'll notice your name will appear in the 'You' location) and then select your opponent.</li>
    <li>At the end of the match, log the results by selecting the victor!</li>
  </ol>



  <a class="addPlayer" href="#/signup">Enter your Name into the Pong Yard</a>
</div>



